@model AirplaneTrafficManagement.Models.FlightViewModel
@{
    ViewBag.Title = "Add Flight";
}


@using (Html.BeginForm("AddFlights", "Flight"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.idFlight)
    @Html.HiddenFor(model => model.idRoute)
    @Html.HiddenFor(model => model.idAirport)


    <style>
        table, th, td {
            border: 2px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }
    </style>

    <table style="width: 500px">
        <tr>
            <td><b>Departure From</b></td>
            <td><b>Arrive At</b></td>
            <td><b>Depart On</b></td>
            <td><b>Return On</b></td>
            <td><b>Time</b></td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.departureFrom)
                @Html.TextBoxFor(m => m.departureFrom)
            </td>
            <td>
                @Html.LabelFor(m => m.arriveAt)
                @Html.TextBoxFor(m => m.arriveAt)
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.departOn)
                </div>

                <div class="editor-filed">
                    @Html.EditorFor(model => model.departOn)
                    @Html.ValidationMessageFor(model => model.departOn)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.returnOn)
                </div>

                <div class="editor-filed">
                    @Html.EditorFor(model => model.returnOn)
                    @Html.ValidationMessageFor(model => model.returnOn)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.time)
                </div>

                <div class="editor-filed">
                    @Html.EditorFor(model => model.time)
                    @Html.ValidationMessageFor(model => model.time)
                </div>

            </td>
        </tr>
    </table>
    <input type="submit" value="Add Flight" />
}
   
    <p>@Html.ActionLink("Back to List", "Index")</p>

